NorthWind.Win/Service References/ProxyMantenimiento/mantenimientoservice2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/mantenimientoservice?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NorthWind.Entity" />
  <xs:element name="SelectAllFromCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllFromClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NorthWind.Entity" minOccurs="0" name="SelectAllFromClienteResult" nillable="true" type="q1:ArrayOfTbClienteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllFromCategoria">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllFromCategoriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NorthWind.Entity" minOccurs="0" name="SelectAllFromCategoriaResult" nillable="true" type="q2:ArrayOfTbCategoriaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllFromProducto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectAllFromProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NorthWind.Entity" minOccurs="0" name="SelectAllFromProductoResult" nillable="true" type="q3:ArrayOfTbProductoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>